<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.authentication="${component.properties['className']}">
    <sly data-sly-call="${clientLib.js @ categories='auth0-cloudservices.app'}" />
    <script>
        ( function( context ) {
            context.auth0Manager = new Auth0Service.Auth0Manager(
                '${authentication.clientId @ context="scriptString"}',
                '${authentication.domain @ context="scriptString"}',
                context.location.origin + '${authentication.configuredPage.path @ context="scriptString"}.html', //TODO: Use a properly mapped and externalized URL
                context.location.href //TODO: don't send this if we are in popup mode
            );
        } )( window );
    </script>
</sly>